.base{
  display: flex;
  flex-direction: column;
  width: 100vw - 10px;
  height: 80vh;
}

.sub-base{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
}

.class{
  text-align: center;
  width: 50%;
  height: 100%;
}

.frame{
  width: 100%;
  height: 90%;
}

.logout{
  position: absolute;
  top: 10px;
  right: 10px;
}

.logout-button{
  width: 150px;
  height: 50px;
  background-color: rgb(245, 245, 245);
  outline: none;
  font-size: 20px;
}

.logout-button:hover{
  background-color: rgb(173, 173, 173);
}

.button{
  width: 90%;
  height: 90%;
  background-color: #ffc400;
  border-radius: 10px;
  outline: none;
  font-size: 30px;
}

.button:hover{
  background-color: #b38900;
}

input{
  width: 100%;
}

input.submit{
  width: 45%;
}
