<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Super</title>
  <link rel="stylesheet" href="/css/chat.css">
  <style>
    body {
      background-color: #fff;
    }
  </style>
  <script>
    window.onload = function () {
      var sse = new EventSource('/himiko/sse');
      sse.onmessage = function (event) {
        console.log("sse.onmessage")
        console.log(event.data);
        var chatlist = JSON.parse(event.data);
        var chat_table = "";
        for (var i = 0; i < chatlist.length; i++) {
          var bgn_p = "<p>";
          var end_p = "</p>";
          chat_table = chat_table + bgn_p + chatlist[i].name + ":" + chatlist[i].message + end_p;

        }
        console.log(chat_table);
        var tbody = document.getElementById("chatlist");
        tbody.innerHTML = chat_table;//idがchatlistのtbodyのHTMLを差し替える

      }
    }
  </script>
</head>

<body>
  <div id="chatlist">
    <div th:if="${chats}">
      <div th:each="chat,stat:${chats}">
        <p>[[${chat.name}]]:[[${chat.message}]]</p>
      </div>
    </div>
  </div>
  <form action="/himiko/chat1" method="post">
    <p><input type="text" name="msg" pattern=".*\S+.*" required /></p>
    <div align="center">
      <input type="submit" value="送信" class="submit" />
      <input type="reset" value="リセット" class="submit" />
    </div>

  </form>
</body>

</html>
