<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>denpyo</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/zaiko.css">
</head>

<body>
  <div th:if="${logs}">
    <a href="/himiko/login" class="back">
      <button class="back-button">
        もどる
      </button>
    </a>
    <h2>伝票</h2>
    <table>
      <thead>
        <tr>
          <th>日付</th>
          <th>ユーザーID</th>
          <th>商品ID</th>
          <th>出荷元店舗ID</th>
          <th>出荷先店舗ID</th>
          <th>個数</th>
          <th>与件</th>
        </tr>
      </thead>
      <tbody>
        <div th:each="log,stat:${logs}">
          <tr>
            <td>[[${log.date}]]</td>
            <td>[[${log.user_id}]]</td>
            <td>[[${log.item_id}]]</td>
            <td>[[${log.send_shop_id}]]</td>
            <td>[[${log.recv_shop_id}]]</td>
            <td>[[${log.number}]]</td>
          </tr>
        </div>
      </tbody>
    </table>
  </div>
</body>

</html>
