<head>
  <meta charset="utf-8">
  <title>Super</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/zaiko.css">
  <link rel="stylesheet" href="/css/button.css">
</head>

<body>
  <a href="/himiko/login" class="back">
    <button class="back-button">
      もどる
    </button>
  </a>
  <h1>入出荷管理</h1>
  <div class="base">
    <div class="sub-base">
      <div class="class">
        <a href="/himiko/nyuka1">
          <button>
            入荷
          </button>
        </a>
      </div>
      <div class="class">
        <a href="/himiko/syukka1">
          <button>
            出荷受付
          </button>
        </a>
      </div>
    </div>
  </div>

</body>