<head>
  <meta charset="utf-8">
  <title>Super</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/zaiko.css">
</head>

<body>
  <a href="/himiko/nyuka" class="back">
    <button class="back-button">
      もどる
    </button>
  </a>

  <div class="flex">
    <div>
      <h1>入荷処理</h1>
      <form action="/himiko/nyuka2" method="post">
        <p>アイテムID<input type="number" name="item_id" min="1" required /></p>
        <p>個数<input type="number" name="number" min="1" required /></p>
        <input type="submit" value="セット">
        <input type="reset" value="リセット">
      </form>

      <div th:if="${itemlist}">
        <table>
          <tr>
            <th colspan="4">入荷予定リスト</th>
          </tr>
          <tr>
            <th>アイテムID</th>
            <th>個数</th>
          </tr>
          <tr th:each="items,stat:${itemlist.items}">
            <td align="center">[[${items.item_id}]]</td>
            <td align="center">[[${items.number}]]</td>
          </tr>
        </table>
        <a href="/himiko/nyuka4"><button>入荷</button></a>
        <a href="/himiko/nyuka3"><button>リセット</button></a>
      </div>
    </div>
    <div>
      <table>
        <div th:if="${items}">
          <table>
            <tr>
              <th colspan="4">商品一覧</th>
            </tr>
            <tr>
              <th>アイテムID</th>
              <th>アイテム名</th>
              <th>価格</th>
            </tr>
            <tr th:each="item,stat:${items}">
              <td>[[${item.item_id}]] </td>
              <td>[[${item.item_name}]] </td>
              <td>[[${item.price}]] </td>
            </tr>
          </table>
        </div>
      </table>
    </div>
  </div>
</body>
