<head>
  <meta charset="utf-8">
  <title>Super</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body bgcolor="#e0e0ee">
  <h1>出荷処理</h1>
  <p>
  <form action="/himiko/syukka2" method="post">
    <p><label for="item">出荷先店舗ID</label><input type="number" name="recv_shop_id" /></p><br>
    <p><label for="item">アイテムID</label><input type="number" name="item_id" /></p><br>
    <p><label for="kosuu">個数</label><input type="number" name="number" /></p><br>
    <p>与件<input type="text" name="msg" /></p><br>
    <input type="submit" value="出荷"><input type="reset" value="リセット">
  </form>
  </p>

  <p th:if="${result}">[[${result}]]</p>

  <table th:if="${zaikolist}" border="1">
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>単価</th>
      <th>在庫数</th>
    </tr>
    <tr th:each="zaiko,stat:${zaikolist}">
      <td align="center">[[${zaiko.item_id}]]</td>
      <td align="center">[[${zaiko.item_name}]]</td>
      <td align="center">[[${zaiko.price}]]</td>
      <td align="center">[[${zaiko.number}]]</td>
    </tr>
  </table>

  <p>
    <a href="/himiko/login">もどる</a>
  </p>
</body>
