<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>zaiko</title>
</head>

<body>
  <h1>在庫</h1>

  <div th:if="${shoplist}">
    <div th:each="shop,stat:${shoplist}">
      <tr>
        <td>店舗ID:<a th:href="@{/himiko/zaiko(id=${shop.shop_id})}">[[${shop.shop_id}]]</a></td>
        <td>店舗名:[[${shop.shop_name}]]</td>
      </tr>
    </div>
  </div>

  <p>
    <a href="/himiko/login">もどる</a>
  </p>
</body>

</html>
