<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>zaiko</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/zaiko.css">
</head>

<body>
  <div th:if="${zaiko}">
    <a href="/himiko/home" class="back">
      <button class="back-button">
        もどる
      </button>
    </a>
    <h2>[[${shop_name}]]</h2>
    <table>
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>在庫数</th>
          <th>単価</th>
        </tr>
      </thead>
      <tbody>
        <div th:each="zaiko,stat:${zaiko}">
          <tr>
            <td>[[${zaiko.item_id}]]</td>
            <td>[[${zaiko.item_name}]]</td>
            <td>[[${zaiko.number}]]</td>
            <td>[[${zaiko.price}]]</td>
          </tr>
        </div>
      </tbody>
    </table>
  </div>
</body>

</html>
